<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general :: head(title='Profile')">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div class="col">
                <h4>Connections</h4>

                <div th:each="connection: ${connections}">
                    <div th:if="${connection.receiver.username == #authentication.getPrincipal().getUsername()}">
                        <a th:href="@{/people/{slug}(slug=${connection.requester.slug})}"><span th:text="${connection.requester.name}"></span></a>
                        <div th:if="${connection.approved}">
                            <form th:action="@{/connection/{id}(id=${connection.id})}" method="delete">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <div th:unless="${connection.approved}">
                            <form th:action="@{/connection/{id}(id=${connection.id})}" method="post">
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                            <form th:action="@{/connection/{id}/remove(id=${connection.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Deny</button>
                            </form>
                        </div>

                    </div>
                    <div th:if="${connection.requester.username == #authentication.getPrincipal().getUsername()}">
                        <a th:href="@{/people/{slug}(slug=${connection.receiver.slug})}"><span th:text="${connection.receiver.name}"></span></a>
                        <div th:if="${connection.approved}">
                            <form th:action="@{/connection/{id}/remove(id=${connection.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <div th:unless="${connection.approved}">
                            <form th:action="@{/connection/{id}/remove(id=${connection.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>

                <h5>Find people</h5>
                <form th:action="@{/connection}" method="get">
                    <label class="d-block" for="search">Search string</label>
                    <input type="text" id="search" name="search" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <h4>Found people</h4>
                <ul>
                    <li th:each="person: ${people}">
                        Name: <span th:text="${person.name}"></span>
                        Username: <span th:text="${person.username}"></span>
                        <form th:action="@{/connection}" method="post">
                            <input type="hidden" th:value="${person.username}" name="receiverUsername" />
                            <button type="submit" class="btn btn-primary">Add connection</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
