<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body style="font-family: Arial; font-size: 1.5em; text-align: center; background-color: lavenderblush;">

        <h1 th:text="${'Hello ' + message}">Hello world</h1>
        <p style="padding: 1em; border-radius: 0.5em; background-color: pink; margin: 1em auto; max-width: 80%;">
            This page is a placeholder for the course project of 
            <span style="font-weight: bold;"><a href="https://web-palvelinohjelmointi-20.mooc.fi/">MOOC Java web-palvelinohjelmointi 2020</a></span>
            course.
        </p> 


    </body>
</html>
