<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general :: head(title='Profile')">
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/general :: navbar"></nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h6>Username</h6>
                        <span th:text="${person.username}"></span>
                    </div>
                    <div>
                        <h6>Name</h6>
                        <span th:text="${person.name}"></span>
                    </div>
                    <div>
                        <h6>Slug</h6>
                        <span th:text="${person.slug}"></span>
                    </div>
                    <div th:if="${person.imageFile != null}">
                        <h6>Profile picture</h6>
                        <img th:src="@{/files/{id}(id=${person.imageFile.id})}" class="img-fluid" />
                    </div>


                    <div th:if="${user != null and person.username == user.username}">
                        <form method="post" th:action="@{/files}" enctype="multipart/form-data">
                            <label class="btn btn-primary" for="file">
                                Browse <input type="file" name="file" id="file" hidden="true"
                                              onchange="$('#uploader-filename').html(this.files[0].name)"/>
                            </label>
                            <span class="label label-info" id="uploader-filename"></span>
                            <input type="submit" class="btn btn-primary" value="Add or change profile picture"/>
                        </form>
                        <form th:if="${person.imageFile != null}" method="post" th:action="@{/files/{id}/delete(id=${person.imageFile.id})}">
                            <input type="submit" class="btn btn-primary" value="Delete picture" />
                        </form>
                    </div>

                </div>
            </div>

            <div class="row" th:if="${user != null and person.username == user.username}">
                <div class="col">
                    <h5>Connections</h5>
                    <ul>
                        <li th:each="connection: ${connections}">
                            Requester: <span th:text="${connection.requester.username}"></span>
                            Receiver: <span th:text="${connection.receiver.username}"></span>
                        </li>
                    </ul>
                    <a th:href="@{/connection}">Edit connections</a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/general :: bootstrap-js"></div>
    </body>
</html>
